.cabecalho {
    background-color: rgb(248, 248, 248);
    color: aliceblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}
.cabecalho-imagem{
    widht: 10%;

}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 16px;
}

.cabecalho-imagem{
    widht: 25%;
}

.escola{
    background-image: linear-gradient(#ffffff, #ffffff);
    color:white
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}
.escola-div-conteudo{
    width: 35px;
}
    